// fonts
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");
$font-main: "Press Start 2P", cursive;
$font-secondary: "Inconsolata", monospace;
$font-size: 10px;

// colors
// Polar Night
$color-dark1: #9ede73;
$color-dark2: #1b1a17;
$color-dark3: #687980;
$color-dark4: #4c566a;
//Snow Storm
$color-light1: #d8dee9;
$color-light2: #e5e9f0;
$color-light3: #eceff4;
//Frost (Blue)
$color-main1: #5e81ac;
$color-main2: #81a1c1;
//Aurora
$color-secondary-red: #bf616a;
$color-secondary-orange: #d08770;
$color-secondary-yellow: #ebcb8b;
$color-secondary-green: #a3be8c;
$color-secondary-purple: #b48ead;

// Breakpoints
$tablet: 768px;
$desktop: 1024px;
